.game_body {
    background:radial-gradient(circle at center, #deb887 0%, #c89b6d 40%, #8b5a2b 100%);
    font-family:Arial;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 150px;
}